<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
				version="2.4" id="WebApp_ID">
	<display-name>python</display-name>
	<servlet>
		<description>
		</description>
		<display-name>FileUploadServlet</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>model.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DBConnection</display-name>
		<servlet-name>DBConnection</servlet-name>
		<servlet-class>model.DBConnection</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImageServlet</display-name>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>model.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImageUploadServlet</display-name>
		<servlet-name>ImageUploadServlet</servlet-name>
		<servlet-class>model.ImageUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBConnection</servlet-name>
		<url-pattern>/DBConnection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/ImageUploadServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>